# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log

# Environments
.env
venv/
.env.*        # For dotenv files like .env.development

# PyInstaller
*.spec

# Jupyter Notebooks
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
